<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a routerLink="">Angular Project</a></li>
          <li><a routerLink="add-user">Add User</a></li>
          <li><a routerLink="show-user">Show Users</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="">CopyRight&copy;2020</a>
      </div>
    </div>
  </div>

</div>

